.table-titles{
    margin : 3em 0!important;
    font-size: 1.3em;
    background-color: var(--main-color)!important;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    color: var(--lighting-color);
}

.vcard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    text-align: center;
    border-radius: var(--border-radius);
    padding: 1em 2em;
}

.vcard *{
    width: 100%;
}

.vcard .action{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}


