@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

:root{
    --font-family-sans-serif: 'Fredoka', sans-serif;

    --main-color: #13c09a;
    --mid-color: #6c6c6c;
    
    --red-color: #EF4444;

    /* Light */
    --light-color: #e9e4e4;
    --lighting-color: #FFFFFF;
    
    --dark-color: #363636;
    --darkest-color: #1a1818;

    /* Dark */
    /* --light-color: #363636;
    --lighting-color: #1a1818;

    --dark-color: #dadada;
    --darkest-color: #FFFFFF; */
    
    
    
    --glass-color: rgba(90, 90, 90, 0.1);
    --shadow-color: rgba(32, 31, 31, 0.137);

    --shadow: 0 0.6em 0.5em var(--shadow-color);

    --border-radius: 2em;
    --border-radius2: 0.5em;
}

body{
    font-family: var(--font-family-sans-serif);
    background-color: var(--lighting-color);
    color: var(--darkest-color);
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    font-size: calc(0.5em + 0.5vw);
}

h1{
    color:var(--darkest-color);
}


h2{
    color:var(--dark-color);
}


p{
    /* font-size: 1.4em; */
    font-weight: 300;
    color:var(--mid-color);
}


.fas{
    font-size: 2.5em;
    color: var(--main-color);
}

a{
    color:var(--dark-color);
    text-decoration: none;
}

hr{
    border: 0.1em solid var(--mid-color);
    margin: 2em 0;
    margin: 10em auto;
}

.section-title{
    /* font-size:3em; */
    font-weight: 900;
    color: var(--darkest-color);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.3em;
}

.subtitle{
    /* font-size: 1.4em; */
    font-weight: 600;
    color: var(--mid-color);
    text-align: center;
}

.cta-button{
    padding: calc(0.4em + 0.4vw) calc(1em + 1vw);
    background-color: var(--main-color);
    color: var(--lighting-color);
    font-size: 1.1em;
    font-weight: 600;
    border-radius: var(--border-radius);
    border: 0.1em solid transparent;
    cursor: pointer;
    text-align: center;
    box-shadow: var(--shadow);
    transition: all 0.3s ease-in-out;
}

.cta-button:hover{
    background-color: var(--dark-color);
}

.red-button{
    padding: calc(0.5em + 0.5vw) calc(1em + 1vw);
    background-color: transparent;
    color: var(--red-color);
    transition: all 0.3s ease-in-out;
    /* font-size: 1.2em; */
    font-weight: 600;
    border-radius: var(--border-radius);
    border: 0.1em solid var(--red-color);
    cursor: pointer;
    text-align: center;
    box-shadow: var(--shadow);
}

.red-button:hover{
    background-color: var(--red-color);
    color: var(--lighting-color);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}


.logo a{
    /* font-size: 2em; */
    font-weight: 600;
    color: var(--lighting-color);
    border-left: 0.2em solid var(--main-color);
    padding: 0;
    border-radius: 0;
    padding-left: 0.2em;
}

.logo a:hover{
    color: var(--lighting-color);
}

.room-card-tags{
    margin-top: -1em;
}

.room-card-tag{
    background-color: var(--main-color);
    color: var(--lighting-color);
    padding: 0.2em 0.5em;
    border-radius: var(--border-radius);
    /* font-size: 0.8em; */
}


/* inputs */
input{
    width: 100%;
    padding: 0.8em 1.3em;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    border: none;
    outline: none;
    font-weight:800;
    background-color: var(--light-color);
    margin: 0.2em 0;
    color: var(--darkest-color);
}

label{
    /* font-size: 1.2em; */
    font-weight: 600;   
    color: var(--dark-color);
}

textarea{
    border-radius: var(--border-radius);
    box-sizing: border-box;
    border: none;
    outline: none;
    font-weight:900;
    padding: 1em;
    background-color: var(--light-color);
    width: 100%;
    /* font-size: 1.2em; */
    margin: 0.2em 0 ;
    color: var(--darkest-color);
}

select, .select2 {
    /* font-size: 1.1em; */
    font-weight: 600;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: var(--light-color);
    width: 100%;
    color: var(--darkest-color);
}

select{
    padding: 0.5em 1em;
    color: var(--mid-color);
}


.from-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* checkboxs style */
.checkbox-field{
    display: flex!important;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    width: 100%;
    margin: 0.2em 0;
}

.checkbox-field input{
    width: 1.2em;
    height: 1.2em;
    border-radius: 0.2em;
    border: 0.1em solid var(--dark-color);
    cursor: pointer;
}


.checkbox-field label{
    width: 10em;
}



.select2 *{
    font-weight: 600;
    color: var(--dark-color);
    background-color: var(--light-color)!important;
    border: none!important;
    border-radius: var(--border-radius)!important;
}

.select2-results__option{
    font-weight: 600;
    color: var(--lightest-color);
}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 1em;
    z-index: 100;
    margin-bottom: 10em;
    padding-bottom: 1em;
    background-color: var(--dark-color);
    box-shadow: var(--shadow);
    padding: 1em 2em;
    border-radius: var(--border-radius);
    position: sticky;
    top: 0;
}


nav .dropdown{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap : 1em;
}

nav #dropdown-content{
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark-color);
    padding: 1em;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    z-index: 100;
    position: absolute!important;
    top: 6em;
    right: 0em;
    margin: 0 5em;
    transition: all 0.5s ease-in-out;
    animation: dropdown 0.5s ease-in-out;
}

@keyframes dropdown{
    from{
        opacity: 0;
        transform: translateY(-10em);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

nav #dropdown-content a{
    color: var(--light-color);
    margin: 0.3em 0.3em;
    text-align: center;
    width: 9em;
    transition: all 0.3s ease-in-out;
}

nav #dropdown-content a:hover{
    color: var(--main-color);
}

nav .fas{
    font-size: 1.6em;
    width: 1.5em;
    color: var(--main-color);
    margin-right: 0.2em;
    transition: all 0.3s ease-in-out;
}


nav .show{
    display: flex!important;
}

nav  .profile{
    font-family: var(--font-family-sans-serif);
    font-size: 1.1em;
    background-color: transparent;
    color: var(--mid-color);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


nav .dark{
    background-color: transparent;
    border: none;
    cursor: pointer;   
}

nav  .profile:hover{
    color: var(--light-color);
}

nav .right-side{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1em; 
    background-color: var(--glass-color);
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
}


nav label{
    color: var(--light-color);
}

nav .nav-profile-picture{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

/* Mobile */
nav .mobile-menu{
    display: none;
}

nav #dropdown-content-mobile{
    display: none;
    flex-direction: column;
    gap : 1em;
    background-color: var(--dark-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    padding: 1em 2em;
    z-index: 100;
    position: absolute!important;
    top: 6em;
    right: 0em;
    margin: 0 5em;
    transition: all 0.5s ease-in-out;
    animation: dropdown 0.5s ease-in-out;
}

nav #dropdown-content-mobile a{
    color: var(--light-color);
    margin: 0.3em 0.3em;
    text-align: start;
    width: 15em;
    font-size: 1.4em;
    transition: all 0.3s ease-in-out;
}

nav #dropdown-content-mobile a:hover{
    color: var(--main-color);
}


/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    nav .mobile-menu{
        display: block;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav .right-side{
        display: none;
    }
    
    .top-mobile-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 0.1em solid var(--light-color);
        padding-bottom: 1em;
        font-size: 1.4em;
    }

    input {
        padding: 0.5em 1em;
    }

}



/* Footer */
footer {
    color: var(--dark-color);
    padding: 50px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    max-width: 400px;
    margin-bottom: 30px;
}

.footer-section .logo a{
    color: var(--darkest-color)!important;
}

.socials{
    align-self: center;
}


.socials a {
    display: inline-block;
    margin-right: 15px;
    color: var(--dark-color);
    /* font-size: 1.5em; */
    transition: color 0.3s ease-in-out;

}

.socials a:hover {
    color: var(--main-color);
}


/* Footer Bottom */
.footer-bottom {
    margin-top: 4em;
    text-align: center;
    /* font-size: 0.8em; */
    color: var(--dark-color);
    border-top: 1px solid var(--light-color  );
    padding-top: 1em
}

